<section class="section-border articles">
  <div class="container">
    <h2 class="section-title articles__title">
      Articles
    </h2>

    <ul class="articles__list list-reset">

      <li class="articles__item">
        <article class="articles-card">
          <a href="" class="articles-card__link">
            <span class="articles-card__img services-card__img--what-1"></span>
            <h3 class="articles-card__title">
              Your Legacy
            </h3>
            <p class="articles-card__descr">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </a>
        </article>
      </li>

    </ul>

  </div>
</section>
