<section class="section-border clients">
  <div class="container">
    <h2 class="section-title clients__title">
      Clients
    </h2>

    <ul class="clients__list list-reset">

      <li class="clients__item">
        <article class="clients-card">
          <div class="clients-card__inner">
            <div class="clients-card__text">
              <p>
                Duis autem vel eum iriure dolor in&nbsp;hendrerit in&nbsp;vulputate velit esse molestie consequat, vel
                illum dolore eu&nbsp;feugiat nulla facilisis at&nbsp;vero eros et&nbsp;accumsan et&nbsp;iusto odio
                dignissim qui blandit odio dignissim qui blandit molestie consequat.
              </p>
            </div>
            <div class="clients-card__user">
              <img class="clients-card__user-img" src="../../images/user-1.jpg" alt="user" width="67" height="67">
              <div class="clients-card__user-info">
                <h4 class="clients-card__user-name">John Armstrong</h4>
                <span class="clients-card__user-customer">Customer</span>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="clients__item">
        <article class="clients-card">
          <div class="clients-card__inner">
            <div class="clients-card__text">
              <p>
                Duis autem vel eum iriure dolor in&nbsp;hendrerit in&nbsp;vulputate velit esse molestie consequat, vel
                illum dolore eu&nbsp;feugiat nulla facilisis at&nbsp;vero eros et&nbsp;accumsan et&nbsp;iusto odio
                dignissim qui blandit odio dignissim qui blandit molestie consequat.
              </p>
            </div>
            <div class="clients-card__user">
              <img class="clients-card__user-img" src="../../images/user-2.jpg" alt="user" width="67" height="67">
              <div class="clients-card__user-info">
                <h4 class="clients-card__user-name">Elizabeth Martin</h4>
                <span class="clients-card__user-customer">Customer</span>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="clients__item">
        <article class="clients-card">
          <div class="clients-card__inner">
            <div class="clients-card__text">
              <p>
                Duis autem vel eum iriure dolor in&nbsp;hendrerit in&nbsp;vulputate velit esse molestie consequat, vel
                illum dolore eu&nbsp;feugiat nulla facilisis at&nbsp;vero eros et&nbsp;accumsan et&nbsp;iusto odio
                dignissim qui blandit odio dignissim qui blandit molestie consequat.
              </p>
            </div>
            <div class="clients-card__user">
              <img class="clients-card__user-img" src="../../images/user-3.jpg" alt="user" width="67" height="67">
              <div class="clients-card__user-info">
                <h4 class="clients-card__user-name">Robin Soutby</h4>
                <span class="clients-card__user-customer">Customer</span>
              </div>
            </div>
          </div>
        </article>
      </li>

    </ul>

  </div>
</section>
