<section class="section-border contacts">
  <div class="container">
    <h2 class="section-title contacts__title">
      Contacts
    </h2>

    <ul class="contacts__list list-reset">

      <li class="contacts__item">
        <article class="contacts-card">
          <a href="" class="contacts-card__link">
            <span class="contacts-card__img"></span>
            <h3 class="contacts-card__title">
              Your Legacy
            </h3>
            <p class="contacts-card__descr">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </a>
        </article>
      </li>

    </ul>

  </div>
</section>
