<header class="header">

  <div class="container">

    <div class="header__inner">

      <a class="logo" href="#">
        <img class="logo__img" src="images/sprite.svg#logo" alt="logotip" width="115" height="44">
      </a>

      <nav class="header__nav">
        <ul class="header__nav-list list-reset">
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">
              Home
            </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">
              Services
            </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">
              Articles
            </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">
              Clients
            </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">
              Contacts
            </a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">
              Join us
            </a>
          </li>
        </ul>
      </nav>

      <button class="btn header__btn-trial btn-reset" href="#">free trial</button>

    </div>

  </div>

</header>
